body{
  margin: 0;
  padding: 0;
  font-family: montserrat;  
  height: 100vh;
  overflow: hidden;
  
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.center h1{
  text-align: center;
  padding: 0 10px 10px 0;
  border-bottom: 1px  silver;
}

.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;

}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  font-family: montserrat;
  font-size: 15px;
  top: 50%;
  left: 5px;
  transition: .5s;
  font-weight: bold;
}

.txt_field input:focus ~ label, 
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.login_btn{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
}

input[type="submit"]{
  width: 40%; 
  height: 50px;
  border: 1px solid;
  background: #558f76;
  border-radius: 25px;
  font-size: 16px;
  color: #e9f4fb;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .7s;
}


he {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.flash-messages-container {
  text-align: center;
  margin-top: 20px;
}

.flash-message {
  background-color: #4CAF50; /* Green background color for success messages */
  color: white;
  padding: 10px;
  margin: 10px auto;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  list-style-type: none;
  transition: display 1s ease-in-out; /* Transition to hide the message smoothly */
}

.flash-message.error {
  background-color: #FF0000; /* Red background color for error messages */
}

.flash-message.hidden {
  display: none; /* Hide the message initially */
}

.mes{
  text-align: center;
  background-color: azure;
}
