@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #d7d7d7;
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
    margin-left: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 40px;
    margin-left: 130px;
}

th,
td {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d7d7d7;
    border-top: 2px solid #333;
    /* Darker color for the top border */
    border-bottom: 2px solid #333;
    /* Darker color for the bottom border */
}

/* Add left border for Sprint Status and Date columns */
th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3) {
    border-left: 2px solid #333;
}

.outer-container {
    position: relative;
    margin-right: 650px;
    display: inline-block;
    
}

.new-button{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right:10px;
}

/* Container for the "New" label */
.new-label-container {
    float: right;
    /* Float the container to the right */
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
     /* Adjust the margin to position it correctly */

    background-color: rgb(0, 76, 255);
    /* Blue background color */
    color: rgba(255, 255, 255, 0.956);
    /* White text color */
    font-weight: bold;
    /* Bold text for the label */
    padding: 5px 10px;
    /* Add padding for spacing */
    border-radius: 10px;
    /* Add rounded corners */
    font-size: 20px;
    cursor: pointer;
}

/* Hidden pop-up dialog */
.pop-up-dialog {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    /* Increase padding for more space */
    width: 700px;
    /* Increase width for a larger dialog */
    background-color: rgb(125, 125, 125);
    border: 2px solid #333;
    border-radius: 10px;
}

/* Style for the heading */
.dialog-heading {
    font-size: 50px;
    margin-top: 10px;
    color: #d7d7d7;
}

/* Style for the line below the heading */
.dialog-line {
    border: none;
    height: 5px;
    /* Adjust the height as needed */
    background-color: #d7d7d7;
    margin-bottom: 80px;
    /* Adjust the margin to control the space between the line and fields */
}

/* Style for the fields */
.form-field {
    margin-bottom: 30px;
    color: #d7d7d7;
}

/* Increase font size for input fields */
.form-field label,
.form-field input {
    font-size: 30px;
    /* Increase font size for labels and input fields */

}

.form-field input {
    background-color: #fff;
    border-radius: 8px;

}


/* Style for buttons */
.button-container {
    float: right;
    margin-top: 20px;
}

.button {
    margin-right: 10px;
    padding: 20px 30px;
    background-color: rgb(215, 215, 215);
    color: rgba(0, 0, 0, 0.956);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    /* Increase the font size to make it larger */
    cursor: pointer;
}

/* Style for the status input container */
.status-input-container {
    display: flex;
    align-items: center;
    background-color: #ccc;
    /* Light grey background color for the container */
    border-radius: 8px;
    padding: 5px;
    /* Adjust padding as needed */
    width: 190px;
}

/* Style for the status circle */
.status-circle {
    width: 20px;
    height: 20px;
    background-color: #5b5a5a;
    /* Darker grey color for the circle */
    border-radius: 50%;
    margin-right: 4px;
    /* Adjust the spacing between the circle and inner container */
}

/* Style for the inner status container */
.status-inner-container {
    display: flex;
    align-items: center;
    background-color: #888787;
    width: 115px;
    border-radius: 8px;
    padding: 5px;
}

/* Style for the status text */
.status-text {
    font-size: 20px;
}

/* Style for the form field */
.form-field {
    margin-bottom: 30px;
    color: #191919;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    /* Align items horizontally */
    align-items: center;
    /* Vertically center align items */
}

.daterangepicker {
    font-size: 12px;
    width: 660px;
}

.addTask{
    background-color: #ddd;
    color: #333333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: .3em .3em .3em #999;
    height: 70%;
}