@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


h1 {
    font-size: 45px;
    margin-bottom: 30px;
    margin-left: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sprintTable {
    border-collapse: collapse;
    width: 80%;
    margin-top: 40px;
    margin-left: 130px;
}

.sprintTable th,
.sprintTable td {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.sprintTable th {
    background-color: #d7d7d7;
    border-top: 2px solid #333;
    /* Darker color for the top border */
    border-bottom: 2px solid #333;
    /* Darker color for the bottom border */
}

/* Add left border for Sprint Status and Date columns */
.sprintTable th:nth-child(2),
.sprintTable td:nth-child(2),
.sprintTable th:nth-child(3),
.sprintTable td:nth-child(3) {
    border-left: 2px solid #333;
}

/* Container for the "New" label */
.new-button{
    right: 18%;
    position: absolute;
    border: none;
    background-color: rgb(0, 76, 255);
    /* Blue background color */
    color: rgba(255, 255, 255, 0.956);
    /* White text color */
    font-weight: bold;
    /* Bold text for the label */
    padding: 10px 18px;
    /* Add padding for spacing */
    border-radius: 10px;
    /* Add rounded corners */
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;

}


/* Hidden pop-up dialog */
.pop-up-dialog {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    /* Increase padding for more space */
    width: 700px;
    /* Increase width for a larger dialog */
    background-color: rgb(125, 125, 125);
    border: 2px solid #333;
    border-radius: 10px;
}

/* Style for the heading */
.dialog-heading {
    font-size: 50px;
    margin-top: 10px;
    color: #d7d7d7;
}

/* Style for the line below the heading */
.dialog-line {
    border: none;
    height: 5px;
    /* Adjust the height as needed */
    background-color: #d7d7d7;
    margin-bottom: 80px;
    /* Adjust the margin to control the space between the line and fields */
}

/* Style for the fields */
.form-field {
    margin-bottom: 30px;
    color: #d7d7d7;
}

/* Increase font size for input fields */
.form-field label,
.form-field input {
    font-size: 30px;
    /* Increase font size for labels and input fields */

}

.form-field input {
    background-color: #fff;
    border-radius: 8px;

}



.button {
    margin-right: 10px;
    padding: 20px 30px;
    background-color: rgb(215, 215, 215);
    color: rgba(0, 0, 0, 0.956);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    /* Increase the font size to make it larger */
    cursor: pointer;
}

/* Style for the status input container */
.status-input-container {
    display: flex;
    align-items: center;
    background-color: #ccc;
    /* Light grey background color for the container */
    border-radius: 8px;
    padding: 5px;
    /* Adjust padding as needed */
    width: 190px;
}

/* Style for the status circle */
.status-circle {
    width: 20px;
    height: 20px;
    background-color: #5b5a5a;
    /* Darker grey color for the circle */
    border-radius: 50%;
    margin-right: 4px;
    /* Adjust the spacing between the circle and inner container */
}

/* Style for the inner status container */
.status-inner-container {
    display: flex;
    align-items: center;
    background-color: #888787;
    width: 115px;
    border-radius: 8px;
    padding: 5px;
}

/* Style for the status text */
.status-text {
    font-size: 20px;
}

/* Style for the form field */
.form-field {
    margin-bottom: 30px;
    color: #191919;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    /* Align items horizontally */
    align-items: center;
    /* Vertically center align items */
}

.daterangepicker {
    font-size: 12px;
    width: 660px;
}

.addTaskBut{
    background-color: #ddd;
    color: #333333;
    padding: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: .3em .3em .3em #999;
    height: 70%;
    width: 100%;
    bottom: 40px;
    right: 50px;
    margin: 0;
}
.addTaskBut a{
    text-decoration: none;
    color: #333333;
}



.addTask {
    background-color: #ddd;
    color: #333333;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: .3em .3em .3em #999;
    height: 1px;
    position: fixed;
    bottom: 40px;
    right: 50px;
    margin: 0;
}

.addTask a {
    text-decoration: none;
    color: #333333;
}
.card{
    display: inline-block; 
    background-color: #4f4f4f;
    width: 80%; 
    margin-left: 13%;
    margin-right: auto;
    padding: 5px;
    border-radius: .3em;
    position: relative;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
}

.taskName{
    font-size: 2em;
    margin-left: 3%;
    margin-bottom: 3%;
}

.taskName a{
    text-decoration: none;
    color: white;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: block; 
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-left: 3%;
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.label-front-end {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #d62e2e;
    color: white;
    width: 100px; 
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  .label-back-end {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #cd532a;
    width: 100px;
    color: white;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  .label-testing {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #d4be55;
    color: white;
    width: 80px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  .label-framework {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #59d533;
    color: white;
    width: 110px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  .label-api {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #32c9cc;
    color: white;
    width: 50px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  .label-database {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #2162cc;
    color: white;
    width: 100px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  .label-ui {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #8b50dd;
    color: white;
    width: 40px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  .label-ux {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color:  #d619a4;
    color: white;
    width: 40px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
    margin-left: 3%;
  }

  /* Priority Styles */
.urgent-priority {
    background-color: rgb(247, 81, 81);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 2%;
}

.important-priority {
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 2%;
}

.medium-priority {
    background-color: yellow;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 2%;
}

.low-priority {
    background-color: rgb(100, 255, 100);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 2%;
}

.sprint-backlog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    min-height: 1000px;
}
.not-started{
    grid-column: 1;
    text-align: center; 
}

.in-progress{
    grid-column: 2;
    text-align: center;
}
.completed{
    grid-column: 3;
    text-align: center;
}

/* Sprint status dropdown */
.sprint-status-dropdown {
    background-color: #ddd;
    height: 3.5em;
    width: 10em;
    border-radius: 1em;
    border-width: 2px;
    margin-top: auto;
    margin-bottom: auto;
    margin: 30%;
    text-align: center;
    color: #333333;
    display: inline-block;
    cursor: pointer;
    box-shadow: .3em .3em .3em #999;
    text-decoration: none;
}

.sprint-status-dropdown select[open]{
    z-index: 1;
}

.sprint-header{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    gap: 2%;
}

.edit-sprint-button{
    margin-right: 5%;
    background-color: rgb(0, 76, 255);
    height: 3.5em;
    width: 4em;
    border-radius: 1em;
    border-width: 2px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 150px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    box-shadow: .3em .3em .3em #999;
    text-decoration: none;
}

he {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.flash-messages-container {
    text-align: center;
    position: fixed;
    top: 50px; /* Adjust this value as needed for vertical positioning */
    left: 50%; /* Center the container horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 9999;
}


.flash-message {
    background-color: #4CAF50; /* Green background color for success messages */
    color: white;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    list-style-type: none;
    transition: display 1s ease-in-out; /* Transition to hide the message smoothly */
}

.flash-message.error {
    background-color: #FF0000; /* Red background color for error messages */
}

.flash-message.hidden {
    display: none; /* Hide the message initially */
}

.mes{
    text-align: center;
    background-color: azure;
}


