@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0;
}
.taskTable th, td{
    border: 1px solid black;
}

.pageTitle{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 1%;
    margin-top: 0;
    display: flex;
    color: #333333;
}

.buttons{
    background-color: #ddd;
    color: #333333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4% 4%;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: .3em .3em .3em #999;
    height: 70%;
}
.buttons a{
    text-decoration: none;
    color: #333333;
}

/* Priority Styles */
.low-priority {
    background-color: green;
    /* color: white; */
}

.medium-priority {
    background-color: yellow;
    /* color: black; */
}

.important-priority {
    background-color: orange;
    /* color: black; */
}

.urgent-priority {
    background-color: red;
    /* color: white; */
}