@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: auto;
    padding: 0;
} 

/* ---------------------Product Backlog--------------------- */
.theForm {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.theForm div {
    padding-top: 2%;
    display: flex;
    margin-right: 5%;
}
.theForm div label {
    margin-right: 5%;
}
.theForm div select {
    margin-bottom: 5%;
}

.taskTable {
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 100%;
}
.taskTable th{
    color: #eeeeee;
    background-color: #646464;
    font-size: 2em;
    height: 2em;
}
.taskTable th:first-of-type{
    border-top-left-radius: .5em;
}  
.taskTable th:last-of-type{
    border-top-right-radius: .5em;
}
.taskTable td{
    color: #333333;
    
    font-size: 1.5em;
    height: 2em;
    text-align: center;
}

.taskTable td:nth-child(1),
.taskTable td:nth-child(2),
.taskTable td:nth-child(4){
    background-color: #d9d9d9;
}

.taskTable tr:last-of-type td:first-of-type{
    border-bottom-left-radius: .5em;
}
.taskTable tr:last-of-type td:last-of-type{
    border-bottom-right-radius: .5em;
}

.pageTitle{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    color: #333333;
    margin-left: 10%;
    margin-right: 10%;
}
.pageTitle .buttons{
    margin-left: 10em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
}
.buttons{
    background-color: #ddd;
    color: #333333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: .3em .3em .3em #999;
    height: 70%;
}
.buttons a{
    text-decoration: none;
    color: #333333;
}

/* Priority Styles */
.urgent-priority {
    background-color: rgb(247, 81, 81);
}

.important-priority {
    background-color: orange;
}

.medium-priority {
    background-color: yellow;
}

.low-priority {
    background-color: rgb(100, 255, 100);
}

.label-front-end {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #d62e2e;
    color: white;
    width: 100px; 
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

  .label-back-end {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #cd532a;
    width: 100px;
    color: white;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

  .label-testing {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #d4be55;
    color: white;
    width: 80px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

  .label-framework {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #59d533;
    color: white;
    width: 110px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

  .label-api {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #32c9cc;
    color: white;
    width: 50px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

  .label-database {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #2162cc;
    color: white;
    width: 100px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

  .label-ui {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color: #8b50dd;
    color: white;
    width: 40px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

  .label-ux {
    display: inline-block; /* Use inline-block to display blocks horizontally */
    background-color:  #d619a4;
    color: white;
    width: 40px;
    margin: 2px;
    padding: 5px;
    border-radius: .3em;
  }

/* ---------------------Add Task--------------------- */
.taskContainer{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    border-radius: .5em;
    height: 90vh;
}

/* Define the left section with a 4:1 ratio */
.left-section {
    flex: 7;
    padding: 20px; /* Add padding or content as needed */
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    background-color: #646464;
    color: #eeeeee;
    padding-left: 5%;
}

/* Define the right section */
.right-section {
    flex: 3;
    background-color: #d9d9d9; /* Add your desired background color */
    padding: 20px; /* Add padding or content as needed */
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}
.taskContainer .left-section .addTaskInput{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #eeeeee;
}
.taskContainer .left-section input[type=text]{
    background-color: #e0e0e0;
    height: 2.5em;
    width: 50%;
    border-radius: .25em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    padding-left: 2%;
    padding-right: 2%;
}
.taskContainer .addTaskLabel{
    font-size: 2em;
    letter-spacing: .05em;
}
.taskContainer .addTaskSelectLeft{
    background-color: #e0e0e0;
    height: 2.5em;
    width: 25%;
    border-radius: .25em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding-left: 2%;
    padding-right: 2%;
    color: #333333;
}
.taskContainer .addTaskSelectLeft select[open],
.taskContainer .addTaskSelectRight select[open]{
    z-index: 1;
}
.taskContainer .addTaskSelectLeft select:hover::after{
    background-color: #646464;
    color: #eeeeee;
    border: #eeeeee;
}
.taskContainer .left-section textarea{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #333333;
    padding: 2%;
    border-radius: .25em;
    background-color: #e0e0e0;
    width: 90%;
}
.taskContainer .right-section .addTaskSelectRight{
    background-color: #ffffff;
    height: 2.5em;
    width: 60%;
    border-radius: .25em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding-left: 2%;
    padding-right: 2%;
    color: #333333;
}
.taskContainer .right-section .addTaskSelectRight select[open]{
    z-index: 1;
}
.taskContainer .right-section .addTaskSelectRightMultiple{
    background-color: #ffffff;
    height:fit-content;
    width: 60%;
    border-radius: .25em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding-left: 2%;
    padding-right: 2%;
    color: #333333;
}
.taskContainer .right-section .saveBtnDiv{
    margin-top: 3vh;
    margin-left: 3vh;
    text-align: left;
    height: 10%;
}
.taskContainer .right-section .saveBtn{
    border-radius: .25em;
    background-color: #ffffff;
    height: 70%;
    width: 40%;
    font-size: 100%;
    font-weight:500;
    background-image: linear-gradient(0, #646464, #646464);
    background-size: 0;
    transition: .5s;
    background-repeat: no-repeat;
}
.right-section .saveBtn:hover{
    background-size: 100%;
    color: #fff;
    cursor: pointer;
}

/* ---------------------View Task--------------------- */
.taskContainer .taskViewHeader{
    display: flex;
    font-weight: 700;
    font-size: 3em;
}
.taskViewHeader button{
    font-family: 'Poppins', sans-serif;
    font-size: .5em;
    margin-left: 2%;
    color: #333333;
    height: 100%;
    border-radius: .5em;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;
}
.taskViewHeader button a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #333333;
}
.taskViewHeader button.del{
    background-color: #EF5350;
    cursor: pointer;
}
.taskViewHeader button.del i{
    margin-top: 20%;
    color: #e0e0e0;
}

.taskContainer .addTaskSelectLeft-not-started{
    background-color: #9b9b9b;
    height: 2.5em;
    width: 25%;
    border-radius: .25em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding-left: 2%;
    padding-right: 2%;
    color: #333333;
}

.taskContainer .addTaskSelectLeft-incomplete{
    background-color: #2572ca;
    height: 2.5em;
    width: 25%;
    border-radius: .25em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding-left: 2%;
    padding-right: 2%;
    color: #333333;
}

.taskContainer .addTaskSelectLeft-complete{
    background-color: #77cb3f;
    height: 2.5em;
    width: 25%;
    border-radius: .25em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding-left: 2%;
    padding-right: 2%;
    color: #333333;
}

/* select task  */

.button-link {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding to your liking */
    background-color: #007bff; /* Change to your preferred button color */
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    font-size: 14px; /* Adjust the font size to your preference */
}

.button-link:hover {
    background-color: #0056b3; /* Change to a darker shade on hover */
}

