@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

he {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.flash-messages-container {
    text-align: center;
    margin-top: 20px;
}

.flash-message {
    background-color: #4CAF50; /* Green background color for success messages */
    color: white;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    list-style-type: none;
    transition: display 1s ease-in-out; /* Transition to hide the message smoothly */
}

.flash-message.error {
    background-color: #FF0000; /* Red background color for error messages */
}

.flash-message.hidden {
    display: none; /* Hide the message initially */
}

.mes{
    text-align: center;
    background-color: azure;
}

