{% extends  'admin/master.html' %}

{% block title %}Team Contribution{% endblock %}

{% block body %}

    <div class="logTimeContainer">

        <form action="/handle-contribution-form" method="POST" class="logTimeForm"> 

            <div class="date-picker-container">
                <div class="date-picker">
                    <label for="date" class="formLabel">Start Date</label><br>
                    <input type="date" id="startDate" name="startDate" class="formDate" value="{{start_date}}" required><br><br>
                </div>
                <div class="date-picker">
                    <label for="date" class="formLabel">End Date</label><br>
                    <input type="date" id="endDate" name="endDate" class="formDate"  value="{{end_date}}" required><br><br>
                </div>

                <div class="submit-button-container">
                    <input type="submit" value="Filter" class="submit-button" required><br><br>
                </div>
            </div>
                   
            
        </form>

        <div id='chart' class="effortGraphContainer"></div>
        
    </div>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
    </script>
{% endblock %}
