<table>
    <thead>
      <tr>
        <th>
          <i class="fa-solid fa-a" style="margin-right: 20px;"></i>
          Sprint Name
        </th>
        <th>
          <i class="fa-solid fa-spinner"></i>
          Sprint Status
        </th>
        <th>
          <i class="fa-solid fa-calendar-days"></i>
          Date
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
  
    <tbody>
      {% for sprint in sprints %}
        <tr>
          <td><i class="material-icons" style="margin-right: 5%;">directions_run</i>{{ sprint.sprint_name }}
            <button class="b">
              <a href="{{ url_for('sprint', sprint_id=sprint.id) }}" class="button-link">View Details</a></button>
            </td>
          <td>
            <!-- to update class for containing sprint status like task label in product backlog -->
            <div class="">{{sprint.sprint_status}}</div>
          </td>
          <td>{{ sprint.sprint_start_date }} &#8594 {{ sprint.sprint_end_date }}</td>
          <td>
            <button class="edit-sprint-button" data-sprint-id="{{ sprint.id }}" onclick="openEditSprintDialog(this)">Edit</button>
            <button class="delete-sprint-button" data-sprint-id="{{ sprint.id }}" onclick="openDeleteSprintDialog(this)">Delete</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>