<!DOCTYPE html>
<html lang = "en">
   <head>
      <!--CSS-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <!--ICON-->
      <link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
   </head>
   <body>
   
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3 class="pageTitle">Tasks
         
         <button class="buttons">
            <i class="gg-add"></i>
            <a href = "{{ url_for('new_task') }}"></a>
         </button>
      </h3>
      
      <table class="taskTable">
         <thead>
            <tr>
               <th>Name</th>
               <th>Tag</th>
               <th>Priority</th>
               <th>Story Point</th>
            </tr>
         </thead>

         <tbody>
            {% for task in tasks %}
               <tr>
                  <td>{{ task.name }}</td>
                  
                  <td>
                     {% for label in task.labels %}
                        {{ label.name }},  
                     {% endfor %}
                  </td>
                  
                  <td>{{ task.priority }}</td>
                  <td>{{ task.story_points }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>