<!DOCTYPE html>
<html lang = "en">
   <head>
      <!--CSS-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <!--ICON-->
      <link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
   </head>


   <body>
   
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <!--This the link to add new task to product backlog, can chage to a button in future-->
      <!--This the link to add new task to product backlog, can chage to a button in future-->
      <h3 class="pageTitle">Product Backlog
         
         <button class="buttons">
            
            <a href = "{{ url_for('new_task') }}"><i class="gg-add"></i></a>
         </button>
      </h3>

      <div class="sortOptions">
         <!--This is the drop down menu to let user choose whihc to sort-->
         <form action="/" method="POST" class="sortForm">
            <div>
               <!--Drop-down list of Sorting Element-->
               <label for="sort_style" >Sorting</label><br>
               <select id="sorting_style" name="sorting style" onchange="this.form.submit()">
                  <option value="default" {% if selected_sort == 'default' %}selected{% endif %}>Default</option>
                  <option value="created_at" {% if selected_sort == 'created_at' %}selected{% endif %}>Date Created</option>
                  <option value="priority" {% if selected_sort == 'priority' %}selected{% endif %}>Priority</option>
               </select> <br><br>
            </div>
            <div>
               <!--Drop down list of chossing ascending or descending.-->
               {% if selected_sort != 'default' %}
                  <label for="ordering" >Ordering</label><br>
                  <select id="ordering" name="ordering" onchange="this.form.submit()">
                     <option value="ascending" {% if selected_order == 'ascending' %}selected{% endif %}>Ascending</option>
                     <option value="descending" {% if selected_order == 'descending' %}selected{% endif %}>Descending</option>
                  </select> <br><br>
               {% endif %}
            </div>
            <div>
               <!--Drop down list for choosing the filter-->
               <label for="filter" >Filter Tags</label><br>
               <select id="filter_element" name="filter_element" onchange="this.form.submit()">
                  <option value="default" {% if selected_filter == 'default' %}selected{% endif %}>No filter</option>
                  <option value="Front End" {% if selected_filter == 'Front End' %}selected{% endif %}>Front End</option>
                  <option value="Back End" {% if selected_filter == 'Back End' %}selected{% endif %}>Back End</option>
                  <option value="API" {% if selected_filter == 'API' %}selected{% endif %}>API</option>
                  <option value="Database" {% if selected_filter == 'Database' %}selected{% endif %}>Database</option>
                  <option value="Framework" {% if selected_filter == 'Framework' %}selected{% endif %}>Framework</option>
                  <option value="Testing" {% if selected_filter == 'Testing' %}selected{% endif %}>Testing</option>
                  <option value="UI" {% if selected_filter == 'UI' %}selected{% endif %}>UI</option>
                  <option value="UX" {% if selected_filter == 'UX' %}selected{% endif %}>UX</option>

               </select> <br><br>
            </div>
         </form>
      </div>  

      <div class="tableContainer">
         <table class="taskTable" style="width:80%">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Tag</th>
                  <th>Priority</th>
                  <th>Story Point</th>
               </tr>
            </thead>

            <tbody>
               {% for task in tasks %}
                  <tr>
                     <td>{{ task.name }} <a href = "{{ url_for('view_task', task_id = task.id) }}" style="text-decoration: none; margin-left: 1%; color: #333333;">&#128065</a>
                     </td>
                     
                     <td style="text-align: justify; padding-left: 1%;">
                        {% for label in task.labels %}
                           <div class="
                           {%if label.name == "Front End"%} label-front-end 
                           {%elif label.name == "Back End"%} label-back-end
                           {%elif label.name == "Testing"%} label-testing
                           {%elif label.name == "Framework"%} label-framework
                           {%elif label.name == "API"%} label-api
                           {%elif label.name == "Database"%} label-database
                           {%elif label.name == "UI"%}label-ui
                           {%elif label.name == "UX"%}label-ux
                           {%endif%}"
                           >{{ label.name }}</div>
                        {% endfor %}
                     </td>
                     
                     <td 
                        class = "{% if task.priority == 4 %}urgent-priority{% elif task.priority == 3 %}important-priority{% elif task.priority == 2 %}medium-priority{% elif task.priority == 1 %}low-priority{% endif %}"
                     >
                        {{ proirity_map[task.priority] }}
                     </td>

                        <td>{{ task.story_points }}</td>
                     </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </body>
</html>