{% extends 'base.html' %}

{% block title%} Sprints {% endblock%}

{% block new_entity%}
    <div class="new-label-container">
        <button class="new-button" onclick="showDialog()">New</button>
    </div>
{% endblock%}
   
{% block main %}
    <form action="/newSprint" method="POST">
        <!-- Pop-up dialog content -->
        <div id="new-dialog" class="pop-up-dialog">
            <i class="fa-regular fa-circle-xmark" onclick="closeDialog()" ></i>
            <h2 class="dialog-heading">Add New Sprint</h2>
            <hr class="dialog-line"> 
            <div class="form-field">
                <label for="sprint-name">Sprint Name:</label>
                <input type="text" id="sprint-name" name="sprint-name" required>
            </div>
            <div class="form-field">
                <div class="date-inputs">
                    <label for="sprint-date">Sprint Start Date:</label>
                    <input type="date" name="sprint-start-date" class="date-input" placeholder="Select Date Range" required>
                </div>
            </div>
            <div class="form-field">
                <div class="date-inputs">
                    <label for="sprint-date">Sprint End Date:</label>
                    <input type="date" name="sprint-end-date" class="date-input" placeholder="Select Date Range" required>
                </div>
            </div>
                        
            <div class="form-field">
                <!--Drop-down list of task status-->
                <label for="status" class="addTaskLabel"> Status</label><br>
                <select name="sprint-status" onchange="changeColor(this)" class="addTaskSelectLeft">
                    <option value="">Select an option</option>
                    <option value="Not Started" selected>Not Started</option>
                    <option value="In Progress" disabled>In Progress</option>
                    <option value="Completed" disabled>Completed</option>
                </select><br><br>
            </div>
            
            
            <div class="button-container">
                <input type="submit" value="Save" class="button">
                <button class="button" onclick="closeDialog()">Cancel</button>
            </div>
        </div>
    </form>

    
    <table class="sprintTable">
        <thead>
            <tr>
                <!-- Sprint Name with icon -->
                <th>
                    <i class="fa-solid fa-a" style="margin-right: 20px;"></i>
                    Sprint Name
                </th>
                <!-- Sprint Status with icon -->
                <th>
                    <i class="fa-solid fa-spinner" style="margin-right: 2%;"></i>
                    Sprint Status
                </th>
                <!-- Sprint Date with icon -->
                <th>
                    <i class="fa-solid fa-calendar-days"></i>
                    Date
                </th>
            </tr>
        </thead>

        <tbody>
            {% for sprint in sprints %}
                <tr>
                    <td><i class="material-icons" style="margin-right: 5%;">directions_run</i>{{ sprint.sprint_name }}
                        <a href="{{ url_for('sprint', sprint_id=sprint.id) }}" class="button-link">View Details</a>                     
                    </td>
                    <td>
                        <!-- to update class for containing sprint status like task label in product backlog -->
                        <div class="">{{sprint.sprint_status}}</div>
                    </td>
                    <td>{{ sprint.sprint_start_date }} &#8594 {{ sprint.sprint_end_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <script>
        function showDialog() {
            document.getElementById("new-dialog").style.display = "block";
        }
    
        function closeDialog() {
            document.getElementById("new-dialog").style.display = "none";
        }
    
        function createSprint() {
            // Logic to create a new sprint here
            closeDialog(); // Close the dialog after creating
        }
    
        $(function() {
            // Initialize the date-range picker
            $('#sprint-date').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
    
            // Handle date range selection
            $('#sprint-date').on('apply.daterangepicker', function(ev, picker) {
                var startDate = picker.startDate;
                var endDate = picker.endDate;
                var startDateInput = $('#sprint-date').data('daterangepicker').startDate;
                var endDateInput = $('#sprint-date').data('daterangepicker').endDate;
    
                if (startDate > endDate) {
                    // Display an error message if the start date is greater than the end date
                    alert('End Date should be greater than or equal to Start Date');
                    // Clear the date range selection
                    $('#sprint-date').data('daterangepicker').setStartDate(startDateInput);
                    $('#sprint-date').data('daterangepicker').setEndDate(endDateInput);
                } else {
                    // Set the selected date range in the input field
                    $('#sprint-date').val(startDate.format('YYYY/MM/DD') + ' - ' + endDate.format('YYYY/MM/DD'));
                }
            });
    
            // Handle clearing the date range
            $('#sprint-date').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });


    
        document.addEventListener("DOMContentLoaded", function () {
            var flashMessagesContainer = document.querySelector(".flash-messages-container");

            if (flashMessagesContainer) {
                flashMessagesContainer.style.display = "block"; // Show the container

                // Check if there are error messages in the container
                var errorMessages = flashMessagesContainer.querySelectorAll(".flash-message.error");
                if (errorMessages.length > 0) {
                    flashMessagesContainer.style.zIndex = "9999"; // Ensure it's in front
                    showDialog(); // Show the dialog if there are error messages
                }

                setTimeout(function () {
                    flashMessagesContainer.style.display = "none"; // Hide the container after 5 seconds
                }, 5000);
            }
        });



    </script>
    
{% endblock %}
